

.close{
  float: left;
  top: 0;
  right: 0;
  background-color: white;
  cursor: pointer;
}
.index{
  float: left;
  clear: both;
}
.item{
  clear: left;
  float: left;
}

.container{
  clear: left;
  float: left;
  
}
